@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Montserrat:wght@300;400;500;600;700&family=Mooli&display=swap');
:root{
    --primary-color:#e5c641;
    --text-dark:#000000;
    --text-light:#f4f6f6;
    --white:#ffffff;
    --max-width:1200px;
}
*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}
.section_container{
    max-width: var(--max-width);
    margin:auto;
    padding: 5rem 1rem;
}
.section_header{
    position: relative;
    isolation: isolate;
    font-size: 2.5 rem;
    font-weight: 900;
    color: var(--text-dark);
}
.section_header::before{
    position: absolute;
    bottom: -10px;
    right: -20px;
    height: 60px;
    width: 150px;
    background-image: url();
    background-size: cover;
    background-position: center center;
    z-index: -1;
    background-repeat: no-repeat;
}
.btn{
    padding: .75rem 1.5rem;
    outline:none;
    border: none;
    font-size: 1rem;
    color: var(--white);
    white-space: nowrap;
    background-color: var(--text-dark);
    border-radius: 5px;
    transition: 0.3s;
    cursor: pointer;
}
.btn:hover{
    background-color: var(--primary-color);
}
img{
    display: flex;
    width: 100%;
}
a{
    text-decoration: none;
    transition: 0.3s;
}
ul{
    list-style: none;
}
html,
body{
    scroll-behavior: smooth;
}
body{
    font-family: "Poppins",sans-serif;
}
nav{
    position: fixed;
    isolation: isolate;
    width: 100%;
    z-index: 9;
}
.nav_header{
    padding: 1rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--primary-color);
}
.nav_logo a{
    font-size: 2.5rem;
    font-weight: 800;
    color: var(--white);
}
.nav_menu_btn{
    font-size: 1.5rem;
    color: var(--white);
    cursor: pointer;
}
.nav_link{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
    background-color: var(--primary-color);
    transition: transform 0.5s;
    z-index: -1;
}
.nav_link.open{
    transform: translateY(100%);
}
.nav_link a{
    font-weight: 500;
    color: var(--white);
    white-space: nowrap;
}
.nav_link a:hover{
    color:var(--text-dark)
}
header{
    padding-top: 5rem;
    padding-inline: 1rem;
    margin-bottom: 5rem;
    overflow: hidden;
}
.header_container{
    padding: 0;
    max-width: calc(var(--max-width)-2rem);
    display: grid;
    background-color:var(--text-light);
    border-radius: 2rem;
}
.header_content{
    padding: 5rem 2rem;
}
.header_content h1{
    margin-bottom: 1rem;
    font-size: 4rem;
    font-weight: 900;
    line-height: 5.5rem;
    color: var(--text-dark);
    text-align: center;
}
.header_content h1 span{
    position: relative;
    isolation: isolate;
}
.header_content h1 span::before{
    position: absolute;
    content: "";
    top: 0;
    left: -1rem;
    height: 100%;
    width: calc(100% + 4rem);
    transform: rotate(-2deg);
    z-index: -1;
}
.header_content h1 span:nth-child(1)::before{
    background-color: var(--white);
}
.header_content h1 span:nth-child(4)::before{
    background-color: var(--primary-color);
}
.header_content p{
    margin-bottom: 2rem;
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--text-dark);
    text-align: center;
}
.header_btn{
    text-align: center;
}
.header_image img{
    max-width: 500px;
    margin-inline:auto;
}
.arrival_container.section_header{
    margin-bottom: 4rem;
    max-width: fit-content;
}
.arrival_container .section_header::before{
    content: "";
}
.arrival_grid{
    display: grid;
    grid: 2rem;
}
.arrival_card{
    max-width: 400px;
    margin-inline: auto;
}
.arrival_image{
    margin-bottom: 1rem;
    border-radius: 1rem;
    overflow: hidden;
    margin: 20px;
    height: 317.36px; 
    width: 277.2px;
}
.arrival_image img{
    transition:0.3s;
}
.arrival_card:hover .arrival_image img{
    transform: scale(1.1);
}
.arrival_content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    grid: 1rem;
}
.arrival_content h4{
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--text-dark);
    margin-left: 25px;
}
.arrival_content a{
    font-size: 1.2rem;
    font-weight: 500;
    color: gray;
    margin-left: 25px;
}
.arrival_content a:hover{
    color: var(--primary-color);
}
.arrival_content span{
    font-size: 1.5rem;
    color: var(--extra-light);
}
.promo{
    background-color: var(--primary-color);
}
.promo_container .section_header{
    max-width: 700px;
    margin-inline: auto;
    margin-bottom: 1rem;
    color: var(--white);
    line-height: 3.25rem;
    text-align: center;
}
.promo_container p{
    margin-bottom: 2rem;
    font-size: 1.2rem;
    color:var(--white);
    text-align: center;
}
.promo_container form{
    width: 100%;
    max-width: 400px;
    margin-inline:auto;
    padding: 5px;
    display: flex;
    align-items: center;
    background-color: var(--white);
    border-radius: 5px;
}
.promo_container input{
    width: 100%;
    padding-inline: 1rem;
    outline: none;
    border: none;
    font-size: 1rem;
    color: var(--text-dark);
}
footer{
    background-color: var(--text-dark);
}
.footer_container{
    display: grid;
    gap: 4rem 2rem;
}
.footer_logo{
    margin-bottom: 1rem;
}
.footer_logo a{
    font-size: 1.75rem;
    font-weight: 800;
    color: var(--white);
}
.footer_col p{
    max-width: 300px;
    margin-bottom: 2rem;
    color: var(--text-light);
}
.footer_socials{
    display: flex;
    align-items: center;
    gap:1rem;
}
.footer_socials a:hover{
    color: var(--white);
}
.footer_col h4{
    margin-bottom: 1rem;
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--white);
}
.footer_socials a{
    padding: 5px 10px;
    font-size: 1.5rem;
    color: var(--text-dark);
    background-color: var(--primary-color);
    border-radius: 10px;
    gap: 1rem;
}
.footer_link{
    display: grid;
    grid:1rem;
}
.footer_link a{
    color: var(--text-light);
}
.footer_link a:hover{
    color: var(--white);
}
.footer_bar{
    padding: 1rem;
    font-size: 0.9rem;
    color: var(--text-light);
    text-align: center;
}
.testimonials{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: auto;
    text-align: center;
}
.header101{
    margin-bottom: 2rem;
}
.header101 p{
    letter-spacing: 2px;
    font-size: 1rem;
    font-weight: 500;
}
.header101 h1{
    font-family:"";
    font-size: 2rem;
    font-weight: 900;
}
.testimonial_grid{
    width: 100%;
    display: grid;
    gap: 2rem;
    margin-bottom: 2rem;
}
.card{
    padding: 2rem;
    display: grid;
    gap: 1rem;
    background-color: var(--extra-light);
    border-radius: 5px;
    box-shadow: 5px 5px 30px rgba(0,0,0,0.1);
    cursor: pointer;
}
.card i{
    font-size: 2.5rem;
    color: gold;
}
.card p{
    font-size: 1rem;
    font-weight: 500;
}
.card hr{
    width: 40px;
    margin: auto;
    color: var(--text-light);
}
.card img{
    width: 60px;
    height: 60px;
    margin: auto;
    border-radius: 100%;
    border: 1px solid var(--primary-color);
}
.card .name{
    font-size: 0.9rem;
    font-weight: 400;
    color: var(--extra-light);
    transition: 0.3s;
}
.card .name:hover{
    color: var(--primary-color);
}
@media(width>540px){
    .header_content h1{
        font-size: 5rem;
        line-height: 6.5rem;
    }
    .arrival_grid{
        grid-template-columns: repeat(2, 1fr);
    }
    .footer_container{
        grid-template-columns: repeat(2,1fr);
    }
    .testimonial_grid{
        grid-template-columns: repeat(3,1fr);
    }
}

@media(width > 900px){
    nav{
        position: static;
        max-width: var(--max-width);
        margin-inline: auto;
        padding: 2rem 1rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 2rem;
    }
    .nav_header{
        padding: 0;
        background-color: transparent;
    }
    .nav_logo a{
        font-size: 1.75rem;
        color: var(--text-dark);
    }
    .nav_menu_btn{
        display: none;
    }
    .nav_link{
        position: static;
        padding: 0;
        flex-direction: row;
        justify-content: flex-end;
        background-color: transparent;
        transform: none;
    }
    .nav_link a{
        color: var(--text-dark);
    }
    .nav_link a:hover{
        color: var(--primary-color);
    }
    header{
        padding-top: 0;
    }
    .header_container{
        grid-template-columns: repeat(2 , 1fr);
        align-items: center;
        isolation: isolate;
    }
    .header_content:is(h1,p,.header_btn){
        text-align: left;
    }
    .header_image{
        position: relative;
        height: 100%;
    }
    .header_image img{
        position: absolute;
        width: unset;
        max-width: unset;
        height: 100%;
        right: 1rem;
        top: 0.01rem;
        z-index: -1;
    }
    .arrival_grid{
        grid-template-columns: repeat(4,1fr);
    }
}
